/*
 * customizing stuff

/* Matt Crump */


#abstractstyle {
    font-size: 14px;
    line-height: 1.4;
    text-indent: 25px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 30px;
    background-color: #f9f9f9;
    border-width: 20px;
    border-color: #f9f9f9;
    border-style: solid;
    font-weight: 400;
    width: 100%;
    float: left;
}

#citationstyle{
  font-size: 13px;
  text-indent: -40px;
  margin-left: 60px;
  margin-bottom: 20px;
}

h4 {
  font-size: 13px;
}

.tocify {
  font-size: 13px;
}

.tocify li {
  font-size: 17px;
  line-height: 15px !important;
  text-indent: 0px;
  margin-left: 5px;
}

div.tocify {
  width: 30% !important;
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
z-index: 2;
color: #fff;
border-color: #ce94e0;
background-color: #ce94e0;
border-style: solid;
border-width: 0px;
}

h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 48px;
}

h2 {
  font-size : 25px;
}

h3 {
  font-size : 20px;
}

.column {
  float: left;
}

.left {
  width: 80%;
}

.right {
  width: 20%;
  text-align: right;
}
