@font-face {
    font-family: 'Crumpgraph';
    src: url('downloads/Crumpgraph-Regular.woff2') format('woff2'),
        url('downloads/Crumpgraph-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

