---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}
                      {% if page.project %}
                      <a class="btn zoombtn" href="{{site.url}}/projects/">
                      {% elsif page.course == 'experimental' %}
                      <a class="btn zoombtn" href="{{site.url}}/courses/experimental/">
                      {% elsif page.course == 'researchAssignment' %}
                      <a class="btn zoombtn" href="{{site.url}}/research/">
                      {% elsif page.pubs %}
                      <a class="btn zoombtn" href="{{site.url}}/publications/">
                      {% else %}
                      <a class="btn zoombtn" href="{{site.url}}/posts/">
                      {% endif %}
                          <i class="fa fa-chevron-left"></i>
                      </a>
                    </h1>
                    <!--<h4>{{ page.date | date_to_string }}</h4>-->
                    </div>


                    <div>
                    {% if page.pubs %}
                        <p class="post-list ul">{{ page.citation }} <a href="{{ post.download }}"> pdf </a></p>
                        <p class="post-list ul">{{ page.abstract }}</p>
                    {% endif %}
                    </div>
                    {% if site.reading_time %}
                    <p class="reading-time">
                      <i class="fa fa-clock-o"></i>
                      {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}

                {{ content }}
                <div class="entry-meta">
                {% include meta.html %}
                </div>
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
